AddDefaultCharset utf-8
Options ALL -Indexes
RewriteEngine On

#Запрещаем выполнение вредоносных скриптов
Options +FollowSymLinks
RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
RewriteRule ^(.*)$ https://site.exemple [F,L]

#Лимит по размеру загружаемого файла
LimitRequestBody 1936550

# Rewrite URL for robots.txt
RewriteRule ^robots\.txt$ robots/%{HTTP_HOST}.txt [L]

#с Http на Https
RewriteCond %{SERVER_PORT} !^443$
RewriteCond %{REQUEST_URI} !^.txt$
RewriteCond %{HTTP_HOST} !^api.site.exemple$ [NC]
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

#Избавляемся от www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

#Код 301 редиректа на страницы без слеша:
RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} ![^\/]$
RewriteRule ^(.*)\/$ /$1 [R=301,L]

#С поддомена api своя логика
RewriteCond %{HTTP_HOST} ^api.site.exemple$ [NC]
RewriteRule ^(.*)$ api.php [L]

#Загружаем сайт с помощью php файла
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType application/javascript "access plus 61 days"
ExpiresByType text/javascript "access plus 61 days"
ExpiresByType text/css "access plus 61 days"
ExpiresByType image/gif "access plus 61 days"
ExpiresByType image/jpeg "access plus 61 days"
ExpiresByType image/png "access plus 61 days"
</IfModule>